In [1]:
import numpy as np
import pandas as pd

In [2]:
true_news = pd.read_csv('True.csv')
fake_news = pd.read_csv('Fake.csv')

In [3]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true_news['label']=1
fake_news['label']=0

In [6]:
true_news.shape,fake_news.shape

((21417, 5), (23481, 5))

In [10]:
df = pd.concat([true_news, fake_news], ignore_index=True)
df

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
44893,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
44896,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
44897,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [12]:
df = df.sample(frac=1,random_state=40).reset_index(drop=True)
df

,title,text,subject,date,label
0,U.S. Senate banking panel sets hearing for Oba...,(Reuters) - The U.S. Senate Banking Committee ...,politicsNews,"March 8, 2016",1
1,Conditions not ripe for role in Spain-Cataloni...,ZURICH (Reuters) - Neutral Switzerland is in t...,worldnews,"October 6, 2017",1
2,Mexico's Carstens says 'implicitly' weighing r...,MEXICO CITY (Reuters) - Mexico central bank go...,politicsNews,"March 11, 2016",1
3,THIS COULD BE THE BEST TRUMP MOMENT TO DATE…Do...,Donald Trump called two men up on stage after ...,politics,"Feb 16, 2016",0
4,France's Macron will travel to Saint Martin on...,PARIS (Reuters) - French president Emmanuel Ma...,worldnews,"September 10, 2017",1
...,...,...,...,...,...
44893,"The Oregonian Calls Out Racist Commenters, Ra...",Racism is pretty prevalent on the interwebs. G...,News,"February 16, 2016",0
44894,Hurdles high for Merkel in three-way 'Jamaica'...,BERLIN (Reuters) - Germany s conservative chan...,worldnews,"September 24, 2017",1
44895,U.S. nearing limits of diplomacy on North Kore...,WASHINGTON (Reuters) - White House national se...,worldnews,"September 15, 2017",1
44896,TRAITOR: GOP Senator Lindsey Graham TRASHES an...,Senator Lindsey Graham made a bold announcemen...,left-news,"Jul 27, 2017",0
44897,"Trump Indicates WH Previously Lied, Second Se...",Whenever the White House puts out a statement ...,News,"July 20, 2017",0

In [13]:
df.drop(['title','subject','date'],axis=1,inplace=True)
df.head()

                                                text  label
0  (Reuters) - The U.S. Senate Banking Committee ...      1
1  ZURICH (Reuters) - Neutral Switzerland is in t...      1
2  MEXICO CITY (Reuters) - Mexico central bank go...      1
3  Donald Trump called two men up on stage after ...      0
4  PARIS (Reuters) - French president Emmanuel Ma...      1

In [14]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [15]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [22]:
stop_words = set(stopwords.words('english'))
def preprocess(text):
    text = text.lower() #lowering the text
    text = re.sub(r'[^a-z0-9\s]', '', text) #removing special characters
    text = re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , text) #removing hhtps
    tokens = word_tokenize(text)
    text = " ".join([word for word in tokens if word not in stop_words])
    return text

In [23]:
df['text'] = df['text'].apply(preprocess)

In [24]:
x=df['text']
y=df['label']

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer(max_features=5000, stop_words='english')
x_train = vec.fit_transform(x_train)
x_test = vec.transform(x_test)

In [45]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report

In [47]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [49]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6996
           1       0.99      0.99      0.99      6474

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [51]:
import pickle
with (open('model.pkl','wb')) as file:
    pickle.dump(model,file)
with (open('vectorizer.pkl','wb')) as file:
    pickle.dump(vec,file)